@tailwind base;
@tailwind components;
@tailwind utilities;

/* ================================
   BASE STYLES
   ================================ */

@layer base {
  /* Focus-visible styles for better accessibility */
  *:focus-visible {
    border-radius: 0.375rem;
    outline: 2px solid #1f1f3a80;
  }

  /* Scrollbar styles for WebKit browsers */

  /* Light Theme Scrollbar */
  .scrollbar-light::-webkit-scrollbar {
    width: 10px;
  }

  .scrollbar-light::-webkit-scrollbar-track {
    background-color: #cbd5e1;
  }

  .scrollbar-light::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: #007bff;
  }

  /* Dark Theme Scrollbar */
  .scrollbar-dark::-webkit-scrollbar {
    width: 10px;
  }

  .scrollbar-dark::-webkit-scrollbar-track {
    background-color: #1e293b;
  }

  .scrollbar-dark::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: #007bff;
  }

  /* Global styles for scrollbar */
  * {
    @apply scrollbar-light dark:scrollbar-dark;
  }

  /* Set the background color for the entire body */
  body {
    @apply bg-light-100 dark:bg-dark-900 text-dark-950 dark:text-light-50;
  }

  /* Custom style for minimum height on small screens (sm) for banners */
  .min-height-banner--sm {
    min-height: calc(100vh - 4rem);
  }

  /* Custom style for minimum height on large screens (lg) for banners */
  .min-height-banner--lg {
    min-height: calc(100vh - 4.5rem);
  }
}
