@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('./base.css');
@import url('./animations.css');

/* ================================
UTILITY CLASSES
================================ */
@layer utilities {
  /* Custom utility class for focus styles */
  .focus {
    @apply focus:outline-none focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-primary-500;
  }

  /* Gradients */
  .gradient-primary {
    @apply bg-gradient-to-tr from-indigo-900 from-5% via-violet-800 via-10% to-pink-700 to-95%;
  }
  .gradient-secondary {
    @apply bg-gradient-to-tr from-indigo-500 from-20% via-purple-500 via-80% to-pink-500 to-95%;
  }

  .hide-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .hide-scrollbar {
    scrollbar-width: none;
  }

  /* Custom style for minimum height on large screens (lg) for banners */
  .min-height-banner {
    min-height: calc(100vh - 4rem);
  }
}

/* ================================
COMPONENT STYLES
================================ */

@layer components {
  /* Heading styles */
  .heading-1 {
    @apply text-4xl sm:text-5xl lg:text-6xl tracking-tight;
  }
  .heading-2 {
    @apply text-4xl sm:text-5xl tracking-tight;
  }
  .heading-3 {
    @apply text-3xl sm:text-4xl tracking-tight;
  }
  .heading-4 {
    @apply text-2xl sm:text-3xl tracking-tight;
  }
  .heading-5 {
    @apply text-xl sm:text-2xl tracking-tight;
  }
  .heading-6 {
    @apply text-lg sm:text-xl tracking-tight;
  }

  /* Paragraph styles */
  .paragraph-xl {
    @apply text-xl tracking-tight;
  }
  .paragraph-lg {
    @apply text-lg tracking-tight;
  }
  .paragraph-base {
    @apply text-base tracking-tight;
  }
  .paragraph-sm {
    @apply text-sm tracking-tight;
  }
  .paragraph-xs {
    @apply text-xs tracking-tight;
  }

  /* Span styles */
  .span-2xl {
    @apply text-2xl tracking-tight;
  }
  .span-xl {
    @apply text-xl tracking-tight;
  }
  .span-lg {
    @apply text-lg tracking-tight;
  }
  .span-base {
    @apply text-base tracking-tight;
  }
  .span-sm {
    @apply text-sm tracking-tight;
  }
  .span-xs {
    @apply text-xs tracking-tight;
  }

  /* Button styles */
  .button {
    @apply inline-flex items-center justify-center gap-2 rounded-xl text-base font-medium;
  }
  .padding-button {
    @apply py-2 px-6;
  }
  .padding-icon {
    @apply p-2.5;
  }
  .button-primary {
    @apply button text-light-100 hover:text-light-50 bg-primary-500 hover:bg-primary-600 active:bg-primary-700 disabled:bg-primary-100 disabled:text-primary-400 transition-colors focus;
  }
  .button-secondary {
    @apply button text-light-100 hover:text-light-50 bg-secondary-500 hover:bg-secondary-600 active:bg-secondary-700 disabled:bg-secondary-100 disabled:text-secondary-400 transition-colors focus;
  }
  .button-tertiary {
    @apply button h-9 rounded-full text-sm font-semibold whitespace-nowrap px-3 focus:outline-none focus:ring-2 bg-indigo-50 text-indigo-600 hover:bg-indigo-100 hover:text-indigo-700 focus:ring-indigo-600 dark:bg-light-700 dark:text-light-100 dark:hover:bg-light-600 dark:hover:text-light-50 dark:focus:ring-light-500;
  }
  .button-outlined {
    @apply button text-light-900 bg-light-50 border border-light-300 focus:outline-none hover:bg-light-100 focus:ring-4 focus:ring-light-100 dark:bg-dark-800 dark:text-light-50 dark:border-dark-600 dark:hover:bg-dark-700 dark:hover:border-dark-600 dark:focus:ring-dark-700;
  }
  .button-text {
    @apply button transition-colors text-dark-500 dark:text-light-300 hover:text-dark-950 dark:hover:text-light-50 hover:bg-dark-950/5 dark:hover:bg-light-50/10;
  }
  .button-dark {
    @apply button text-light-50 bg-light-800 hover:bg-light-900 focus:outline-none focus:ring-4 focus:ring-light-300 dark:bg-dark-800 dark:hover:bg-dark-700 dark:focus:ring-dark-700 dark:border-dark-700;
  }
  .button-alternative {
    @apply button  text-light-900 focus:outline-none bg-light-50 rounded-xl border border-light-200 hover:bg-light-100 hover:text-primary-700 focus:z-10 focus:ring-4 focus:ring-light-100 dark:focus:ring-dark-700 dark:bg-dark-800 dark:text-dark-400 dark:border-dark-600 dark:hover:text-light-50 dark:hover:bg-dark-700;
  }

  /* Navbar item styles */
  .navbar-menu-close {
    clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
  }
  .navbar-menu-open {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }
  .navbar-item {
    @apply w-full xl:w-fit font-medium text-dark-700 dark:text-light-200 hover:text-primary-400 dark:hover:text-primary-400;
  }
  .navbar-item-sm {
    @apply navbar-item text-base;
  }
  .navbar-item-lg {
    @apply navbar-item text-base px-2;
  }
  .navbar-item-active-sm {
    @apply text-primary-400 dark:text-primary-500;
  }
  .navbar-item-active-lg {
    @apply text-primary-400 dark:text-primary-500;
  }
}
