@tailwind base;
@tailwind components;
@tailwind utilities;

/* ================================
   BASE STYLES
   ================================ */

@layer base {
  /* Set the background color for the entire body */
  body {
    @apply bg-dark-100 dark:bg-dark-900 text-dark-950 dark:text-dark-50;
  }

  /* Focus-visible styles for better accessibility */
  *:focus-visible {
    border-radius: 0.375rem;
    outline: 2px solid #1f1f3a80;
  }

  /* Scrollbar styles for webkit browsers */
  *::-webkit-scrollbar {
    inline-size: 10px;
  }
  *::-webkit-scrollbar-track {
    background-color: #1f1f3a80;
  }
  *::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: #007bff;
  }

  /* Custom scrollbar styles for elements with the class 'scroll-card--light' */
  .scroll-card::-webkit-scrollbar {
    inline-size: 4px;
  }
  .scroll-card::-webkit-scrollbar-track {
    background-color: #1f1f3a80;
  }
  .scroll-card::-webkit-scrollbar-thumb {
    border-radius: 2px;
    background-color: #007bff;
  }

  /* Custom style for minimum height on small screens (sm) for banners */
  .min-height-banner--sm {
    min-height: calc(100vh - 4rem);
  }

  /* Custom style for minimum height on large screens (lg) for banners */
  .min-height-banner--lg {
    min-height: calc(100vh - 4.5rem);
  }
}

/* ================================
       UTILITY CLASSES
       ================================ */

@layer utilities {
  /* Custom utility class for focus styles */
  .focus {
    @apply focus:outline-none focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-primary-500;
  }
}

/* ================================
       COMPONENT STYLES
       ================================ */

@layer components {
  /* Heading styles */
  .heading-1 {
    @apply text-4xl sm:text-5xl md:text-6xl xl:text-7xl tracking-tight;
  }
  .heading-2 {
    @apply text-4xl sm:text-5xl tracking-tight;
  }
  .heading-3 {
    @apply text-3xl sm:text-4xl tracking-tight;
  }
  .heading-4 {
    @apply text-2xl sm:text-3xl tracking-tight;
  }
  .heading-5 {
    @apply text-xl sm:text-2xl tracking-tight;
  }
  .heading-6 {
    @apply text-lg sm:text-xl tracking-tight;
  }

  /* Paragraph styles */
  .paragraph-xl {
    @apply text-xl tracking-tight;
  }
  .paragraph-lg {
    @apply text-lg tracking-tight;
  }
  .paragraph-base {
    @apply text-base tracking-tight;
  }
  .paragraph-sm {
    @apply text-sm tracking-tight;
  }
  .paragraph-xs {
    @apply text-xs tracking-tight;
  }

  /* Span styles */
  .span-2xl {
    @apply text-2xl tracking-tight;
  }
  .span-xl {
    @apply text-xl tracking-tight;
  }
  .span-lg {
    @apply text-lg tracking-tight;
  }
  .span-base {
    @apply text-base tracking-tight;
  }
  .span-sm {
    @apply text-sm tracking-tight;
  }
  .span-xs {
    @apply text-xs tracking-tight;
  }

  /* Button styles */
  .button {
    @apply inline-flex items-center justify-center gap-2 rounded-lg text-base font-medium;
  }
  .padding-button {
    @apply py-2 px-6;
  }
  .padding-icon {
    @apply p-2.5;
  }
  .button-primary {
    @apply button text-dark-100 hover:text-dark-50 bg-primary-500 hover:bg-primary-600 transition-colors focus;
  }
  .button-secondary {
    @apply button text-dark-950 bg-dark-50 backdrop-blur-lg hover:bg-dark-50/30 transition-colors focus;
  }
  .button-tertiary {
    @apply button text-dark-50 bg-dark-900/50 backdrop-blur-lg hover:bg-dark-900/70 transition-colors focus;
  }
  .button-outlined {
    @apply button ring-1 ring-inset text-dark-100 bg-dark-900/30 ring-dark-50/10 hover:bg-dark-50/5 hover:text-dark-50 transition-colors focus;
  }
  .button-text {
    @apply button transition-colors focus text-dark-300 hover:text-dark-50 hover:bg-dark-50/5;
  }

  /* Navbar item styles */
  .navbar-menu-close {
    clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
  }
  .navbar-menu-open {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }
  .navbar-item {
    @apply w-full xl:w-fit font-medium text-dark-400 hover:text-dark-50 focus:ring-1 focus:ring-primary-500 focus:ring-offset-2;
  }
  .navbar-item-sm {
    @apply navbar-item text-base;
  }
  .navbar-item-lg {
    @apply navbar-item text-base px-2;
  }
  .navbar-item-active-sm {
    @apply text-dark-50;
  }
  .navbar-item-active-lg {
    @apply border-b-2 border-primary-500 text-dark-50;
  }
}
